.form-container {
   width: 400px;
   background-color: #efefef;
   border-radius: 10px;
   margin: 30px auto 0;

   .form {
      padding: 4rem 3rem;

      * {
         font-family: Arial, sans-serif;
      }

      &__form-control {
         display: flex;
         flex-direction: column;

         &:not(&:last-of-type) {
            margin-bottom: 1rem;
         }
      }

      &__error {
         color: red;
         font-size: 12px;
      }

      label {
         margin-bottom: 5px;
      }

      input {
         padding: 8px 15px;
         border: none;
         border-radius: 5px;
         font-size: 14px;
      }

      button[type='submit'] {
         margin-top: 20px;
         transition: 0.3s all;
         width: 100%;
         border: none;
         background-color: #4755fd;
         color: #fff;
         border-radius: 5px;
         padding: 15px;
         text-transform: uppercase;
         font-family: Arial, sans-serif;
         cursor: pointer;
         height: 45px;

         &.loading {
            pointer-events: none;
            position: relative;
            font-size: 0;

            @keyframes spin {
               0% {
                  transform: translate(-50%, -50%) rotate(0deg);
               }
               100% {
                  transform: translate(-50%, -50%) rotate(360deg);
               }
            }

            &:after {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               content: '';
               border: 4px solid #f3f3f3;
               border-top: 4px solid #3498db;
               border-radius: 50%;
               width: 20px;
               height: 20px;
               animation: spin 1s linear infinite;
            }
         }

         &:hover {
            background-color: #3b46d5;
         }
      }
   }
}
